h1 {
    font-family: sans-serif;
    color: black;
}

h2 {
    color: black;
}

.topnav {
    background-color: #031927;
    color: #f2f2f2;
    overflow: hidden;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: "Montserrat",sans-serif;
  }
  
  .topnav a:hover {
    background-color: #C8E0F4;
    color: #508AA8;
  }
  
  .topnav a.active {
    background-color: #508AA8;
    color: white;
  }

  body {
      color: #031927;
      font-family: "Montserrat",sans-serif;
      background-image: url('Boston Road Map Gaus.png')
  }

  /* unvisited link */
a:link {
  color: #508AA8;
}

/* visited link */
a:visited {
  color: #508AA8;
}

/* mouse over link */
a:hover {
  color: #1d3e4f;
}

/* selected link */
a:active {
  color: #1d3e4f;
}

img {
  max-width:40%;
  height:auto;
  border-radius: 25px;
  border: 10px solid #ffffed;
}